@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  width: 100vw;
  font-family: "Alegreya", sans-serif;
  /* height: auto; */
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn:hover {
  color: #333;
  background-color: #f9b185;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
}

.slick-dots {
  bottom: 3% !important;
}

.slick-dots li button::before {
  font-size: 8px !important;
}

.letter-spacing {
  letter-spacing: -1px;
}

.unordered-list li::before {
  content: "";
  display: inline-block;
  height: 3px;
  width: 6px;
  background-color: #777;
  border-radius: 2px;
  vertical-align: middle;
  margin-right: 12px;
}

.gallery__button:hover {
  transition: background-color 0.3s ease;
  color: #333;
  background-color: #f9b185;
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
}

.w-full {
  max-width: 100%;
  overflow-x: hidden;
  height: auto;
}

.event-item__title:hover {
  color: #6c757d;
}

/* For WebKit browsers (Chrome, Safari) */
.model-content::-webkit-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
  height: 30%;
  /* Height of the scrollbar */
}

.model-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Background of the scrollbar track */
  border-radius: 10px;
  /* Rounded corners for track */
}

.model-content::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners for thumb */
}

.model-content::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scrollbar thumb on hover */
}

/* For WebKit browsers (Chrome, Safari) */
.model-content::-webkit-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
  height: 30%;
  /* Height of the scrollbar */
}

.model-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Background of the scrollbar track */
  border-radius: 10px;
  /* Rounded corners for track */
}

.model-content::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners for thumb */
}

.model-content::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scrollbar thumb on hover */
}

.slick-prev:before,
.slick-next:before {
  opacity: 0;
}

.slick-next,
.slick-prev {
  opacity: 0;
}

.slick-dots {
  /* margin-bottom: -20px !important; */
}

/* tic page */

.graiding-img {
  height: 150px !important;
}

/* home page media query */
@media screen and (max-width: 300px) {
  .trauma-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 770px) {
  .trauma-text {
    font-weight: bold;
    font-size: 2rem;
  }
}

@media screen and (min-width: 700px) {
  .mobile {
    display: none !important;
  }
}

@media screen and (max-width: 700px) {
  .desktop {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

  .testimonials-slider-container {
    background-position-x: center;
  }

  .mobile-header {
    width: 95%;
    margin: 0 auto;
  }

  .w-full {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }
}

/* end home page media query */

/* about us page media */

/* end about us page media */

/* ticp page css */

.ticp-banner {
  height: 270px;
}

@media screen and (max-width: 500px) {
  .ticp-banner {
    font-size: 25px;
    height: 270px;
    margin-top: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.top-bar {
  z-index: 50;
  position: relative;
}

@media (max-width: 768px) {
  header {
    z-index: 50;
    position: relative;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

